*.bin
*.pyc
*.zip
*.pth
*.mp4
*.avi
*.tckpt
data/*
extras/
dev/
papers/
__pycache__/
2011_09_26/
artifacts/
frames/
KITTI-Dataset
lyft_dataset_sdk

frustum-convnet/
lyft-nuscenese-devkit/
nuscenes-devkit/
dev/
nuscenes_vis/

